{% extends 'base.html' %}

{% block title %}管理员 - 查询用户{% endblock %}

{% block content %}

<!-- 查询用户 -->
<h1>查询用户</h1>

<!-- 添加搜索框 -->
<form class="layui-form layui-row layui-col-space16">
    <!-- 用户名 -->
    <div class="layui-col-md4">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-user"></i>
            </div>
            <input type="text" name="username" value="" placeholder="输入用户名" class="layui-input" lay-affix="clear">
        </div>
    </div>

    <!-- 真实姓名 -->
    <div class="layui-col-md4">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-username"></i>
            </div>
            <input type="text" name="real_name" value="" placeholder="输入真实姓名" class="layui-input" lay-affix="clear">
        </div>
    </div>

    <!-- 角色 -->
    <div class="layui-col-md4">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-auz"></i>
            </div>
            <select name="role_name" lay-search>
                <option value="">请选择角色</option>
            </select>
        </div>
    </div>

    <!-- 搜索和清除按钮 -->
    <div class="layui-col-md12 layui-btn-container">
        <button class="layui-btn" lay-submit lay-filter="searchUser">搜索</button>
        <button type="reset" class="layui-btn layui-btn-primary" id="resetBtn">清除</button>
    </div>
</form>

<!-- 用户表格 -->
<table class="layui-hide" id="userTable" lay-filter="userTable"></table>

<!-- 行内工具栏 -->
<script type="text/html" id="actions">
    <a class="layui-btn layui-btn-sm" lay-event="view">查看</a>
    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="reset">重置密码</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除</a>
</script>

<!-- 查询用户脚本 -->
<script>
    layui.use(function () {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;

        // 页面加载时获取角色数据
        fetch('/role/api/search_all')
            .then(response => response.json())
            .then(res => {
                if (res.data) {
                    const select = document.querySelector('select[name="role_name"]');
                    res.data.forEach(role_info => {
                        const option = document.createElement('option');
                        option.value = role_info.role_name;
                        option.textContent = role_info.role_name;
                        select.appendChild(option);
                    });
                    form.render('select'); // 刷新选择框渲染
                }
            })
            .catch(err => {
                console.error(err);
                layer.alert('无法获取类别数据，请稍后再试。', { icon: 5 });
            });

        // 初始化表格
        var userTable = table.render({
            elem: '#userTable',
            url: '/admin/user/api/search',
            method: 'GET',
            page: true,
            limits: [10, 20, 30, 50],
            limit: 10,
            toolbar: '#toolbarDemo', // 引用工具栏模板
            cols: [[
                { field: 'user_id', title: 'ID', width: 80, sort: true },
                { field: 'username', title: '用户名', width: 150 },
                { field: 'real_name', title: '真实姓名', width: 150 },
                {
                    field: 'role_name', title: '角色', width: 150,
                    // 如何是管理员，显示红色字体，如果是财务人员，显示蓝色字体，如果是报销人员，显示绿色字体
                    templet: function (d) {
                        if (d.role_name === '管理员') {
                            return '<span style="color: red;">' + d.role_name + '</span>';
                        } else if (d.role_name === '财务人员') {
                            return '<span style="color: blue;">' + d.role_name + '</span>';
                        } else if (d.role_name === '报销人员') {
                            return '<span style="color: green;">' + d.role_name + '</span>';
                        } else {
                            return d.role_name;
                        }
                    }

                },
                {
                    field: 'allocation_name_list', title: '分配项目/类别',
                    templet: function (d) {
                        return d.allocation_name_list.length > 0
                            ? d.allocation_name_list.join(', ')
                            : '<span style="color: red;">未分配</span>';
                    }
                },
                { fixed: 'right', title: '操作', toolbar: '#actions', width: 300 }
            ]],
            title: '用户列表',
        });

        // 监听搜索表单提交
        form.on('submit(searchUser)', function (data) {
            var field = data.field; // 获取表单字段
            // 重新加载表格，传递搜索参数
            userTable.reload({
                where: {
                    username: field.username,
                    real_name: field.real_name,
                    role_name: field.role_name
                },
                page: {
                    curr: 1 // 重新从第1页开始
                }
            });
            return false; // 阻止表单默认提交
        });

        // 清除按钮点击事件
        document.getElementById('resetBtn').addEventListener('click', function () {
            // 重新加载表格，传递空的搜索参数
            userTable.reload({
                where: {},
                page: {
                    curr: 1 // 重新从第1页开始
                }
            });
        });

        // 监听行工具事件
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            var event = obj.event;
            if (event === 'view') {
                // 查看用户详情
                layer.open({
                    type: 1,
                    title: '用户详情',
                    area: ['60%', '60%'],
                    shade: 0.6, // 遮罩透明度
                    shadeClose: true, // 点击遮罩区域，关闭弹层
                    maxmin: true, // 允许全屏最小化
                    anim: 0, // 0-6 的动画形式，-1 不开启
                    content: `
                    <div style="padding: 20px; line-height: 2">
                        <div><strong>用户ID:</strong> ${data.user_id}</div>
                        <div><strong>用户名:</strong> ${data.username}</div>
                        <div><strong>真实姓名:</strong> ${data.real_name}</div>
                        <div><strong>角色:</strong> ${data.role_name}</div>
                        <div><strong>分配项目/类别:</strong> ${data.allocation_name_list.length > 0 ? data.allocation_name_list.join(', ') : '未分配'}</div>
                    </div>
                    `,
                });
            } else if (event === 'reset') {
                // 弹出输入新密码的对话框
                layer.prompt({
                    formType: 1,
                    title: '请输入新密码',
                    area: ['300px', '200px']
                }, function (user_reset_password, index) {
                    // 调用重置密码的API
                    fetch('/user/api/reset_password', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams({
                            username: data.username,
                            password: user_reset_password,
                            confirm_password: user_reset_password
                        })
                    }).then(response => {
                        if (response.status === 200) {
                            return response.json().then(res => {
                                // 成功处理
                                layer.msg("成功：" + res.message, { icon: 1 });
                                layer.close(index); // 关闭弹窗
                            });
                        } else {
                            return response.json().then(res => {
                                // 显示错误信息
                                layer.alert('失败：' + res.message, { icon: 2 });
                            });
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                        layer.alert('失败：' + res.message, { icon: 2 });
                    });
                });
            } else if (event === 'delete') {
                // 删除用户
                layer.confirm('确定删除用户：“' + data.username + '--' + data.real_name + '” ？', function (index) {
                    // 调用删除用户API
                    fetch('/admin/user/api/delete_account', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams({ username: data.username })
                    }).then(response => {
                        if (response.status === 200) {
                            return response.json().then(res => {
                                // 成功处理
                                layer.msg("成功：" + res.message, { icon: 1 });
                                layer.close(index); // 关闭弹窗
                                table.reload('userTable'); // 重新加载用户表格
                            });
                        } else {
                            return response.json().then(res => {
                                // 显示错误信息
                                layer.alert('失败：' + res.message, { icon: 2 });
                            });
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                        layer.alert('失败：' + error, { icon: 2 });
                    });
                });
            }
        });

    });
</script>

{% endblock %}